.resourceSearch
{
    padding-top: 3rem;
    text-align: center;
}

.resourceSearch input
{
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    border: 1.5px solid #2d3436;
    border-radius: 45px 0 0 45px;
    outline: none;
    font-weight: bold;
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
    margin-top: 2rem;
}

.uploadResourceBtn
{
    background-color: #2d3436;
    color: white;
    padding: 1.1rem 1.5rem;
    border: none;
    margin-left: 0.5rem;
    border-radius: 0 45px  45px 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


section
{
    overflow-y: auto;
    margin-top: 75px;
}
.cards div
{
    width: 25%;
    margin: 1rem;
    height: 30vh;
    padding: 1.5rem;
    box-shadow: 0 0 15px #bdc3c7;
    border-radius: 5px;
}

.cards div h1, .cards div p
{
    padding-bottom: 10px;
}
.cards .viewBtn, .cards .downloadBtn
{
    padding: 10px 2.6rem;
    outline: none;
    border: none;
    background-color: #2d3436;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.viewBtn:hover
{
    color: yellow;
}
.downloadBtn
{
    margin-left: 1rem;
}
.resourceTexts
{
    transform: translateY(-4rem);
}




/**************************Resource Detail page****************************/
.resourceDetails
{
    padding: 2rem;
}

.resourceDetails h1
{
    font-size: 4rem;
}

.resourceDetails p
{
    font-size: 1.2rem;
}


.resourceFooter
{
    padding: 0 2rem;
    margin-top: 1.5rem;
}

.resourceAddComment
{
     border: 1px solid black;
     width: 70%;
    margin-left: 15%;
     display: flex;
     flex-direction: column;
     padding: 2rem;
     background-color: #297fb917;
}

.resourceAddComment textarea
{
    padding: 1rem;
    font-size: 1.1rem;
}
.resourceComments
{
    margin: 2rem 0;
}

.resourceAddComment button
{
    background-color: #2d3436;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.resourceDetailLine
{
    margin: 0 2rem;
    padding: 1px 0;
    background-color: #2d3436;
}
