/* Light Mode */
.leaveSideNav-light {
    margin-left: 18%;
    height: 90vh;
}

.homePage-light {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginAlert-light {
    font-size: 1.5rem;
}

.loginAlert-light a {
    color: #f39c12;
}

.personalInfo-light {
    font-size: 1.3rem;
    margin: 2rem;
    font-weight: bold;
}

.personalInfo-light p {
    padding-bottom: 1rem;
}

.userUploadedResources-light {
    color: black;
}


/* Dark Mode */
.leaveSideNav-dark {
    margin-left: 18%;
    height: 90vh;
}

.homePage-dark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginAlert-dark {
    font-size: 1.5rem;
    color: white;
}

.loginAlert-dark a {
    color: #f39c12;
}

.personalInfo-dark {
    font-size: 1.3rem;
    margin: 2rem;
    font-weight: bold;
    color: white;
}

.personalInfo-dark p {
    padding-bottom: 1rem;
}

.userUploadedResources-dark {
    color: white;
}
.userResourceBookmarks-dark{
    color:white
}



button
{
    outline: none;
    cursor: pointer;
}