.leaveSideNav
{
    margin-left: 18%;
    height: 90vh;
}

.homePage
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginAlert
{
    font-size: 1.5rem;
}

.loginAlert a
{
    color: #f39c12;
}


.personalInfo
{
    font-size: 1.3rem;
    margin: 2rem;
    font-weight: bold;
}
.personalInfo p
{
    padding-bottom: 1rem;
}

.userUploadedResources{

}