/* Light Mode */
.notificationCard-light {
  border: 1px solid #353b48;
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dcdde170;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.048);
  padding-bottom: 0.5rem;
}

.cardImage-light {
  margin: 0 1rem;
}

.cardContent-light h5 {
  font-weight: bolder;
  padding-top: 10px;
}

.notifications-light {
  margin-top: 1rem;
  width: 45%;
  overflow: hidden;
  margin-left: 27.5%;
}

.notificationHeading-light {
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* Dark Mode */
.notificationCard-dark {
  border: 1px solid #bdc3c7;
  width: 99%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #bdc3c7;
  border-radius: 5px;
  margin-bottom: 2rem;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.048);
  padding-bottom: 0.5rem;
}

.cardImage-dark {
  margin: 0 1rem;
}

.cardContent-dark h5 {
  font-weight: bolder;
  padding-top: 10px;
  color: black;
  
}

.cardContent-dark p {
  color: black;
  
}

.notifications-dark {
  margin-top: 1rem;
  width: 45%;
  overflow: hidden;
  margin-left: 27.5%;
}

.notificationHeading-dark {
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: white;
}
