.notificationCard {
    border: 1px solid #353b48;
    width: 99%;
    display: flex;
    flex-direction: row;
    place-items: center;
    background-color: #dcdde170;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.048);
    padding-bottom: 0.5rem;
  }
  
  .cardImage {
    margin: 0 1rem;
  }
  
  .cardContent h5 {
    font-weight: bolder;
    padding-top: 10px;
  }
  
  .notifications {
    margin-top: 1rem;
    width: 45%;
    overflow: hidden;
    margin-left: 27.5%;
  }
  .notificationHeading {
    font-weight: bolder;
    margin: 1rem 0;
  }
  
  .notificationHeading
  {
    font-size: 2.5rem;
  }